[Unit]
Description=Startup script for Pi Printer
PartOf=Tmux.service
After=Tmux.service

[Service]
User=pi
Restart=no
#RestartSec=3
RemainAfterExit=yes
ExecStart=bash /home/pi/pi_printer/startup.sh

[Install]
WantedBy=multi-user.target